@charset "UTF-8";

html {
	font-family: Verdana, Geneva, Tahoma, Sans-Serif;
}

#listaus {
	border: 2px solid #867666; 
	background-color: grey;
}

#tbody {
	background-color: #FFFFFF;
}

#otsikkorivi {
	background-color: #F6F1EE;
	border: 2px solid #867666;
	
}

#hakunappi {
	border: 2px solid #867666;
	background-color: #FFFFFF;

	
}

input {
	background-color: white;
	
	
}

