@charset "UTF-8";

table {
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  border-collapse: collapse;  
  width: 50%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;  
}

table tbody tr:nth-child(even){background-color: #f2f2f2;}

table tbody tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: grey;
  color: white;
}

.poista{  /*luokka merkitään pisteellä*/
	color: red;
	text-decoration: underline;
	cursor: pointer;	/*muuttaa kursorin tassuksi*/
}

.oikealle{ /*luokka merkitään pisteellä*/
	text-align: right; /*teksti viedään oikeanpuoleiseen reunaan*/
		
	
}

#uusiAsiakas, #takaisin{ /* ID*/
	color: white;	
	cursor: pointer;	
}
#linkki {
	color : white;
	text-decoration: none;
	
}

